<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web app</title>
</head>
<body>
    <h1>Main menu</h1>
    <ul>

        <li><a href="/loginForm">Login</a></li>
        <li><a href="/projectForm">New project</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/clientTop">Top client</a></li>
        <li><a href="/clientsWithDetails">CLient detailed list</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/deliveryEmployees">Delivery Employees</a></li>
        <li><a href="/salesEmployees">Sales Employees</a></li>
        <li><a href="/deliveryEmployeeForm">Add new delivery employee</a></li>
        <li><a href="/salesEmployeeForm">Add new sales employee</a></li>
    </ul>
</body>
</html>