<!DOCTYPE html>
<html>
    <head>
        <title>Update Project Status</title>
    </head>
    <body>
        <h1>Update Project Status</h1>

        {% if errormessage %}
            <h3>{{ errormessage }}</h3>
        {% endif %}
        <h3>{{project.name}}</h3>
        <form class="form" action="/projectStatusForm/{{project.id}}" method="post">
            <h3><label for="status">
                Status:
            </label></h3>
            <select id="projectStatus" name="projectStatus">
                {% for status in projectStatus %}
                    {% if status == project.status %}
                    <option value="{{status}}" selected="selected">{{status}}</option>
                    {% else %}
                    <option value="{{status}}">{{status}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br><br>

            <button id="submit">Update</button>
            <a href="/">Go to home page</a>
        </form>
    </body>
</html>